<a href="https://colab.research.google.com/github/dhruszecki/cdatos-st-tp/blob/main/st_tp_turin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

import os
import os.path
from os import path

import matplotlib.pyplot as plt

from enum import Enum
from time import time


# para ejecutar desde google colab, con notebook en el directorio donde están los demás archivos
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# Utils

In [ ]:
def download_dataset_if_needed(filename):
    if not path.exists("dataset/"+filename):
        url = "https://raw.githubusercontent.com/dhruszecki/cdatos-ST-TP/main/data/"+filename
        !wget {url} -P dataset
    else:
        print("data/" + filename, " already exists! :)")

In [ ]:
download_dataset_if_needed("games.jsonl")

data/games.jsonl  already exists! :)

In [ ]:
raw_dataset = pd.read_json("dataset/games.jsonl", convert_dates=True, lines=True)
raw_dataset.head()

                                             player1  ...            id
0  {'id': '50vekw81qbu', 'correct': 'robot', 'pre...  ...   50xma8xd3x4
1  {'id': 'ek3u7y7s4mr', 'correct': 'human', 'pre...  ...   eyjoc772wmo
2  {'id': 'kcgo7425ki', 'correct': 'human', 'pred...  ...   kjtkat8p8hs
3  {'id': '4yuzigu344n', 'correct': 'robot', 'pre...  ...  160bhaib07yq
4  {'id': '1ldnczh95ph', 'correct': 'human', 'pre...  ...   1lr147j86lv

[5 rows x 5 columns]