<a href="https://colab.research.google.com/github/dhruszecki/cdatos-st-tp/blob/main/st_tp_turin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

import os
import os.path
from os import path

import matplotlib.pyplot as plt

from enum import Enum
from time import time


# para ejecutar desde google colab, con notebook en el directorio donde están los demás archivos
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# Utils

In [3]:
def download_dataset_if_needed(filename):
    if not path.exists("dataset/"+filename):
        url = "https://raw.githubusercontent.com/dhruszecki/cdatos-ST-TP/main/data/"+filename
        !wget {url} -P dataset
    else:
        print("dataset/" + filename, " already exists! :)")

In [4]:
download_dataset_if_needed("df-filtered.csv")

--2021-09-01 14:40:27--  https://raw.githubusercontent.com/dhruszecki/cdatos-ST-TP/main/data/df-filtered.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4969468 (4.7M) [text/plain]
Saving to: ‘dataset/df-filtered.csv’

df-filtered.csv     100%[===================>]   4.74M  --.-KB/s    in 0.06s

2021-09-01 14:40:27 (75.8 MB/s) - ‘dataset/df-filtered.csv’ saved [4969468/4969468]

In [6]:
df = pd.read_csv("dataset/df-filtered.csv")
df.head()

   Unnamed: 0  id  ...  dialog_id                                filtered_tokens_col
0           0   0  ...  0xab38710  ['love', 'iphone', '!', 'bought', 'new', 'ipho...
1           1   1  ...  0xab38710                  ['s', 'good', ',', 'new', 'tech']
2           2   2  ...  0xab38710       ['college', 'student', 'college', 'student']
3           3   3  ...  0xab38710                       ['gym', 'live', 'donations']
4           4   4  ...  0xab38710                               ['vegan', 'midwest']

[5 rows x 7 columns]